<div class="row mb-2">
  <div class="col-sm-6 ml-auto mr-auto">
    <div class="card tweet">
      <div class="card-body">
        <h5 class="card-title">{{ tweetData.userName }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ tweetData.date | dateDisplay:'FULLDATE'}}</h6>
        <p class="card-text">{{tweetData.content}}</p>
        <button type="button" class="btn btn-sm btn-success mr-3">Like</button>
        <button type="button" class="btn btn-sm btn-info" (click)="onEdit()">Edit</button>
      </div>
    </div>
  </div>
</div>

