<div class="container-fluid min-100-vh">
  <div class="row mt-3">
    <div class="col-sm-12">
      {{title}}
      <button mat-flat-button color="primary" (click)="refreshTweets()">Refresh tweets</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <ng-container *ngIf="(loggedinUser$ | async) as user; else noLoggedin">
        Current logged-in user: {{user?.email}}
      </ng-container>
    </div>
  </div>

  <ng-template #noLoggedin>
    <div class="row">
      <div class="col-sm-12">
        You have not logged in.
      </div>
    </div>
  </ng-template>

  <hr>

  <ng-container *ngIf="(tweetsLoading$ | async) as isTweetsLoading; else tweetLoaded">
    Loading your tweets...
  </ng-container>
  <ng-template #tweetLoaded>
    <ng-container *ngIf="(tweetError$ | async); else noError">
      Error occured: {{tweetErrorMsg$ | async}}
    </ng-container>
    <ng-template #noError>
      <ng-container *ngIf="(allTweets$ | async) as allTweets">
        <ng-container *ngFor="let tweet of allTweets">
          <div class="row">
            <div class="col-sm-12">
              {{tweet.userName}} said: {{tweet.content}}
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-template>
  </ng-template>


</div>
